<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="homepage">
      <header class="header">
        <nav class="header__navbar">
          <h2 class="logo">
            <a href="#">logo here</a>
          </h2>
          <ul class="header__nav">
            <li class="header__nav__item">
              <a href="#" class="header__nav__link">sign in</a>
            </li>
            <li class="header__nav__item">
              <a href="#" class="header__nav__link">about</a>
            </li>
            <li class="header__nav__item">
              <a href="#" class="header__nav__link">help</a>
            </li>
            <li class="header__nav__item">
              <a href="#" class="header__nav__link">more links</a>
            </li>
            <li class="header__nav__item">
              <a href="#" class="header__nav__link">
                <span class="header__cart"
                  >cart<i class="fas fa-cart-arrow-down"></i
                  ><span class="header__cart__modal">13</span></span
                >
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="homepage__box">
        <aside class="homepage__aside">
          <div class="aside__sticky">
            <h2>50 products</h2>
            <div class="filterlist">
              <div class="filterlist__item">
                <h3 class="filterlist__item__title">Sort</h3>
                <a href="#" class="filterlist__link">lowest price</a>
                <a href="#" class="filterlist__link">highest price</a>
                <a href="#" class="filterlist__link">lowest rating</a>
                <a href="#" class="filterlist__link">highest rating</a>
                <a href="#" class="filterlist__link">lowest reviews</a>
                <a href="#" class="filterlist__link">highest reviews</a>
              </div>
              <div class="filterlist__item">
                <h3 class="filterlist__item__title">Price</h3>
                <input class="min__price" type="text" /> to
                <input class="max__price" type="text" />
                <button class="btn">go</button>
              </div>
              <div class="filterlist__item">
                <h3 class="filterlist__item__title">Brand</h3>
                <div>
                  <input type="checkbox" name="" id="" />
                  apple
                </div>
                <div>
                  <input type="checkbox" name="" id="" />
                  dyson
                </div>
                <div>
                  <input type="checkbox" name="" id="" />
                  samsung
                </div>
              </div>
            </div>
          </div>
        </aside>
        <main class="homepage__main">
          <div class="homepage__products">
            <div class="homepage__product__card">
              <div class="product__card__image">
                <img src="../src/asset/img/dyson_v11.png" alt="product" />
                <i class="far fa-heart"></i>
              </div>
              <div class="product__card__body">
                <div class="product__price">$120.00</div>
                <h4 class="product__card__heading">
                  <a href="#">Dyson V11</a>
                </h4>
                <div class="product__rating">
                  <span class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                  </span>
                  9 reviews
                </div>
              </div>
            </div>
            <div class="homepage__product__card">
              <div class="product__card__image">
                <img src="../src/asset/img/earpods.PNG" alt="product" />
                <i class="far fa-heart"></i>
              </div>
              <div class="product__card__body">
                <div class="product__price">$249.00</div>
                <h4 class="product__card__heading">
                  <a href="#">Apple earpods</a>
                </h4>
                <div class="product__rating">
                  <span class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </span>
                  99 reviews
                </div>
              </div>
            </div>
            <div class="homepage__product__card">
              <div class="product__card__image">
                <img src="../src/asset/img/iphone11_black.jpg" alt="product" />
                <i class="far fa-heart"></i>
              </div>
              <div class="product__card__body">
                <div class="product__price">$890.00</div>
                <h4 class="product__card__heading">
                  <a href="#">Apple iPhone 12</a>
                </h4>
                <div class="product__rating">
                  <span class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                  </span>
                  100 reviews
                </div>
              </div>
            </div>
            <div class="homepage__product__card">
              <div class="product__card__image">
                <img src="../src/asset/img/iphone11_black.jpg" alt="product" />
                <i class="far fa-heart"></i>
              </div>
              <div class="product__card__body">
                <div class="product__price">$890.00</div>
                <h4 class="product__card__heading">
                  <a href="#">Apple iPhone 12</a>
                </h4>
                <div class="product__rating">
                  <span class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                  </span>
                  100 reviews
                </div>
              </div>
            </div>
            <div class="homepage__product__card">
              <div class="product__card__image">
                <img src="../src/asset/img/iphone11_black.jpg" alt="product" />
                <i class="far fa-heart"></i>
              </div>
              <div class="product__card__body">
                <div class="product__price">$890.00</div>
                <h4 class="product__card__heading">
                  <a href="#">Apple iPhone 12</a>
                </h4>
                <div class="product__rating">
                  <span class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                  </span>
                  100 reviews
                </div>
              </div>
            </div>
            <div class="homepage__product__card">
              <div class="product__card__image">
                <img src="../src/asset/img/iphone11_black.jpg" alt="product" />
                <i class="far fa-heart"></i>
              </div>
              <div class="product__card__body">
                <div class="product__price">$890.00</div>
                <h4 class="product__card__heading">
                  <a href="#">Apple iPhone 12</a>
                </h4>
                <div class="product__rating">
                  <span class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                  </span>
                  100 reviews
                </div>
              </div>
            </div>
            <div class="homepage__product__card">
              <div class="product__card__image">
                <img src="../src/asset/img/iphone11_black.jpg" alt="product" />
                <i class="far fa-heart"></i>
              </div>
              <div class="product__card__body">
                <div class="product__price">$890.00</div>
                <h4 class="product__card__heading">
                  <a href="#">Apple iPhone 12</a>
                </h4>
                <div class="product__rating">
                  <span class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                  </span>
                  100 reviews
                </div>
              </div>
            </div>
            <div class="homepage__product__card">
              <div class="product__card__image">
                <img src="../src/asset/img/iphone11_black.jpg" alt="product" />
                <i class="far fa-heart"></i>
              </div>
              <div class="product__card__body">
                <div class="product__price">$890.00</div>
                <h4 class="product__card__heading">
                  <a href="#">Apple iPhone 12</a>
                </h4>
                <div class="product__rating">
                  <span class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                  </span>
                  100 reviews
                </div>
              </div>
            </div>
            <div class="homepage__product__card">
              <div class="product__card__image">
                <img src="../src/asset/img/iphone11_black.jpg" alt="product" />
                <i class="far fa-heart"></i>
              </div>
              <div class="product__card__body">
                <div class="product__price">$890.00</div>
                <h4 class="product__card__heading">
                  <a href="#">Apple iPhone 12</a>
                </h4>
                <div class="product__rating">
                  <span class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                  </span>
                  100 reviews
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <footer class="footer">
        <h4>Lin Lai &copy; 2020 All rights reserved.</h4>
      </footer>
    </div>
  </body>
</html>
