*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --header-height: 96px;
  --primary: rgb(67, 233, 164);
  --primary-hover: rgb(65, 255, 176);
  --bg-card: #fff;
  --bg-light: #fdfdfd;
  --shadow: #1b1a1a;
  --danger: rgb(243, 62, 62);
}

body {
  font-family: "Poppins", sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  // grid-template-columns: auto;
}

.button {
  background: var(--primary);
  border: transparent;
  border-radius: 0.2em;
  text-transform: capitalize;
  padding: 0.5em 1em;
  font-size: 1rem;

  &:hover,
  &:active {
    background: var(--primary-hover);
  }
}
.button__textonly {
  border: none;
  background: transparent;
}
.button__small {
  font-size: calc(1rem * 0.125 * 7);
  font-weight: 400;
  padding: 0.2em 0.5em;
}

.card__product {
  // width: 180px;
  width: 100%;
  height: 300px;
  background: var(--bg-card);
  border: none;
  border-radius: 0.2em;
  display: grid;
  grid-template-rows: 70% 1fr;
  overflow: hidden;
  font-size: calc(1rem * 0.125 * 8);
  padding: 4px;
  box-shadow: 0 4px 8px -8px var(--shadow);
  position: relative;

  img {
    grid-template-rows: 1/2;
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.hidden {
  display: none !important;
}

#footer,
#footer h2 {
  background: #3f3f3f;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
